mixin alert-success(time)
    - if (messages && messages.success)  // Check if messages is defined
        .alert.alert-success.alert-dismissible.fade.show(role="alert" show-alert data-time=time)
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
            | #{messages.success}

mixin alert-error(time)
    - if (messages && messages.error)  // Check if messages is defined
        .alert.alert-danger.alert-dismissible.fade.show(role="alert" show-alert data-time=time)
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
            | #{messages.error}