mixin edit-product(path)
    .modal.fade#editProductModal(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
        .modal-content
        .modal-header
            h5.modal-title Sửa Thông Tin Sản Phẩm
            button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
            form#editProductForm(action=`${path}/update`, method="POST", enctype="multipart/form-data")
            input(type="hidden" name="id" id="editProductId")

            .form-group
            label(for="title") Title
            input#title.form-control(type="text" name="title" required)
        
            .form-group
                label(for="description") Description
                textarea#description.form-control(name="description" rows="3" required)
            
            .form-group
                label(for="price") Price
                input#price.form-control(type="number" name="price" step="0.01" min="0" required)
            
            .form-group
                label(for="category") Category
                input#category.form-control(type="text" name="category" required)
            
            .form-group
                label(for="discount") Discount
                input#discount.form-control(type="number" name="discount" min="0" step="0.01")
            
            .form-group
                label(for="quantity") Stock
                input#stocks.form-control(type="number" name="quantity" min="0" required)
            
            .form-group
                label(for="thumbnail") Thumbnail
                input#thumbnail.form-control-file(type="file" name="thumbnail" required)
            
            .form-group
                label(for="status") Status
                select#status.form-control(name="status" required)
                    option(value="active") Active
                    option(value="inactive") Inactive
            
            .form-group
                label(for="position") Position
                input#position.form-control(type="number" name="position" min="0" required)

        .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
            button.btn.btn-primary(type="submit") Save Change